.dashboard {
    padding: 50px;
    text-align: center;
}

.main-content {
    min-height: 90vh;
    padding: 20px;
}

/* Inherit color for shared elements */
.login-box h2,
.input-group input,
.input-group select,
.login-box button,
.login-page p,
.navbar,
.navbar a,
.register-box h2,
.register-box button,
.register-page p {
    color: inherit;
}
